<div class="top-contain">
  <div class="index">
    <div class="book 1">
      <div class="book__image">
      </div>
      <div class="book__info">
        <div class="title">
          qqqqq
        </div>
        <div class="author">
          QQQ
        </div>
      </div>
    </div>
    <div class="book 2">
      <div class="book__image">
      </div>
      <div class="book__title">
        title
      </div>
    </div>
    <div class="book 3">
      <div class="book__image">
      </div>
      <div class="book__title">
        eeeeee
      </div>
    </div>
    <div class="book 4">
      <div class="book__image">
      </div>
      <div class="book__title">
      </div>
    </div>
    <div class="book 5">
      <div class="book__image">
      </div>
      <div class="book__title">
      </div>
    </div>
    <div class="book 6">
      <div class="book__image">
      </div>
      <div class="book__title">
      </div>
    </div>
    <div class="book 7">
      <div class="book__image">
      </div>
      <div class="book__title">
      </div>
    </div>
    <div class="book 8">
      <div class="book__image">
      </div>
      <div class="book__title">
      </div>
    </div>
    <div class="book 9">
      <div class="book__image">
      </div>
      <div class="book__title">
      </div>
    </div>
    <div class="book 10">
      <div class="book__image">
      </div>
      <div class="book__title">
      </div>
    </div>
    <div class="book 11">
      <div class="book__image">
      </div>
      <div class="book__title">
      </div>
    </div>
    <div class="book 12">
      <div class="book__image">
      </div>
      <div class="book__title">
      </div>
    </div>
    <div class="book 13">
      <div class="book__image">
      </div>
      <div class="book__title">
      </div>
    </div>
    <div class="book 14">
      <div class="book__image">
      </div>
      <div class="book__title">
      </div>
    </div>
    <div class="book 15">
      <div class="book__image">
      </div>
      <div class="book__title">
      </div>
    </div>
  </div>
</div>

<div class="hidden-contents" >
  <ul class="link-to">
    <li><%= link_to "本を登録", books_new_path(params[:id]) %></li>
    <% if user_signed_in? %>
    <li><%= link_to "sign out", destroy_user_session_path, method: :delete %></li>
    <% else %>
    <li><%= link_to "sign in", new_user_session_path %></li>
    <% end %>
</div>
