<div class="register-book">
  <h2 class="register-book__title">Register BOOK</h2>
  <div class="registration-forms">
    <div class="registration-forms__title form">
      <h3>TITLE</h3>
      <input>
    </div>
    <div class="registration-forms__image form">
      <h3>IMAGE</h3>
      <input>
    </div>
    <div class="registration-forms__author form">
      <h3>AUTHOR</h3>
      <input>
    </div>
    <div class="ragistration-forms__price form">
      <h3>PRICE</h3>
      <input>
    </div>
    <div class="registration-forms__genre form">
      <h3>JENRE</h3>
      <input>
    </div>
    <div class="registration-forms__summary form">
      <h3>SUMMSRY</h3>
      <input>
    </div>
    <input class="form" type="submit">
  </div>
</div>
