<!DOCTYPE html>
<html>
  <head>
    <title>MyBookLog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header clearfix">
      <h1 class="user_name">
        USERさんのBOOK LOG
      </h1>
      <ulf class="container">
        <li class="container__user"></li>
        <li class="container__home"><i class="fa fa-home"></i></li>
        <li class="container__dropdown"><i class="fa fa-align-justify"></i></li>
      </ul>
    </header>
    <div class="background">
      <%= yield %>
    </div>
    <footer class="footer">
    </footer>
  </body>
</html>
